**/xcuserdata
KinveyKit/build
KinveyKit/doc
KinveyKit/LICENSES.html
.DS_Store
devtools
DocTemplates
KinveyKit/Documents
Tools/upload-to-amazon-aws-s3/node_modules
Tools/kinvey-dump/node_modules
Pods
docs
build
