<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--ignore</key>
	<array>
		<string>3rdParty</string>
		<string>*.m</string>
	</array>
	<key>--project-name</key>
	<string>KinveyKit</string>
	<key>--project-company</key>
	<string>Kinvey</string>
	<key>--company-id</key>
	<string>com.kinvey</string>
	<key>--output</key>
	<string>doc/</string>
	<key>--verbose</key>
	<integer>6</integer>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--index-desc</key>
	<string>KinveyKit/README.md</string>
	<key>--templates</key>
	<string>../DocTemplates</string>
	<key>--create-docset</key>
	<true/>
	<key>--publish-docset</key>
	<true/>
	<key>--docset-bundle-id</key>
	<string>com.kinvey.KinveyKit</string>
	<key>--docset-feed-url</key>
	<string>http://www.kinvey.com</string>
	<key>--docset-bundle-filename</key>
	<string>com.kinvey.KinveyKit.docset</string>
	<key>--docset-install-path</key>
	<string>doc/install</string>
	<key>--warn-invalid-crossref</key>
	<false/>
	<key>--create-html</key>
	<true/>
	<key>--project-version</key>
	<string>1.33.1</string>
	<key>--clean-output</key>
	<true/>
	<key>--merge-categories</key>
	<true/>
	<key>--merge-category-comment</key>
	<true/>
	<key>--include</key>
	<array>
		<string>KinveyKit/Documents</string>
		<string>KinveyKit/Licenses.html</string>
		<string>KinveyKit/KinveyKit-History-template.md</string>
	</array>
</dict>
</plist>
