<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KCS_API</key>
	<string>v3yk1n-kcs</string>
	<key>KCS_APP_SECRET</key>
	<string>d775d2f0a7014c859ea69ffefec3d685</string>
	<key>KCS_APP_KEY</key>
	<string>kid_Z1j992noIl</string>
</dict>
</plist>
